<nav id="menu"></nav>
<div id="map">
  <button (click)="centerMap()" style='height:50px'>
    center map
  </button>
  <button (click)="pointsShow()" style='height:50px'>
    marker Show
  </button>  
  <button (click)="pointsHide()" style='height:50px'>
    marker Hide
  </button>  
  <button (click)="pointsMoveRandom()" style='height:50px'>
    marker Move Random
  </button>  
  <button (click)="pointsMoveByTime()" style='height:50px'>
    marker Move By Time
  </button>  
  <button (click)="changeMapStyle()" style='height:50px'>
    Change Map Style
  </button> 
</div>


