<mgl-map
  [style]="'mapbox://styles/mapbox/light-v9'"
  [zoom]="[8]"
  [center]="center"
  [cursorStyle]="cursorStyle"
  (load)="map = $event"
  >
  <mgl-geojson-source
    id="symbols-source"
  >
    <mgl-feature
      *ngFor="let geometry of geometries"
      [geometry]="geometry"
    ></mgl-feature>
  </mgl-geojson-source>
  <mgl-layer
      id="symbols"
      type="symbol"
      source="symbols-source"
      [layout]="{
        'icon-image': 'rocket-15-240'
      }"
      (click)="centerMapTo($event)"
      (mouseEnter)="cursorStyle = 'pointer'"
      (mouseLeave)="cursorStyle = ''"
    >
    </mgl-layer>
</mgl-map>