<mgl-map
  [style]="'mapbox://styles/mapbox/light-v9'"
  [zoom]="[8]"
  [center]="center"
  [cursorStyle]="cursorStyle"
  (load)="map = $event"
  >
  <mgl-image
      id="cat"
      url="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Cat_silhouette.svg/400px-Cat_silhouette.svg.png"
      (loaded)="imageLoaded = true"
    >
  </mgl-image>
  <mgl-layer
    *ngIf="imageLoaded"
    id="points"
    type="symbol"
    [source]="data"
    [layout]="{'icon-image': 'cat', 'icon-size': 0.1}"
    (click)="centerMapTo($event)"
    (mouseEnter)="cursorStyle = 'pointer'"
    (mouseLeave)="cursorStyle = ''"
  >
  </mgl-layer>
</mgl-map>